body {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#container {
    height: calc(100vh - 40px);
    width: 550px;
    border: 1px solid blue;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#noteContainer {
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.noteRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.note {
    border: 1px solid black;
    width: 15rem;
    height: 10rem;
    padding: 10px;
}

#note1 {
    background-color: #4473c5;
}

#note2 {
    background-color: #4473c5;
}

#note3 {
    background-color: #4473c5;
}

#lastSaved {
    position: absolute;
    right: 10px; 
    top: 10px;
    height: 20px;
    padding: 5px 10px; 
    font-size: 14px; 
    color: #555; 
}

#backButton {
    position: absolute;
    left: 10px; 
    top: 10px;
    height: 30px;
    padding: 5px 10px; 
    font-size: 14px; 
    color: #555; 
}