body {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#container {
    height: calc(100vh - 40px);
    width: 550px;
    border: 1px solid blue;
    display: flex;
    position: relative;
}

#noteContainer {
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 100px;
    position: fixed;
}

#lastSaved {
    position: absolute;
    right: 10px; 
    top: 10px;
    height: 20px;
    padding: 5px 10px; 
    font-size: 14px; 
    color: #555; 
}
.noteRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.note {
    border: 1px solid black;
    background-color: #4473c5;
    width: 15rem;
    height: 10rem;
    padding: 10px;
}

.noteBtn {
    padding: 8px 12px;
    background-color: #f17c2b;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid black;
}

#addNoteBtn {
    background-color: #70ad46;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
}

#backButton {
    position: absolute;
    left: 10px; 
    top: 10px;
    height: 30px;
    padding: 5px 10px; 
    font-size: 14px; 
    color: #555; 
}